<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.sinyoo.cooperation.service.mapper.HomeLinkMapper" >
  <resultMap id="BaseResultMap" type="net.sinyoo.cooperation.service.domain.HomeLinkDo" >
    <id column="link_id" property="linkId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="link_url" property="linkUrl" jdbcType="VARCHAR" />
    <result column="ref_id" property="refId" jdbcType="INTEGER" />
    <result column="link_type" property="linkType" jdbcType="CHAR" />
    <result column="sort_number" property="sortNumber" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    link_id, title, image_url, link_url, ref_id, link_type, sort_number, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from home_link
    where link_id = #{linkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from home_link
    where link_id = #{linkId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.sinyoo.cooperation.service.domain.HomeLinkDo" >
    insert into home_link (link_id, title, image_url, 
      link_url, ref_id, link_type, 
      sort_number, create_time)
    values (#{linkId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, 
      #{linkUrl,jdbcType=VARCHAR}, #{refId,jdbcType=INTEGER}, #{linkType,jdbcType=CHAR}, 
      #{sortNumber,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="net.sinyoo.cooperation.service.domain.HomeLinkDo" >
    insert into home_link
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="linkId != null" >
        link_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="linkUrl != null" >
        link_url,
      </if>
      <if test="refId != null" >
        ref_id,
      </if>
      <if test="linkType != null" >
        link_type,
      </if>
      <if test="sortNumber != null" >
        sort_number,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="linkId != null" >
        #{linkId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="refId != null" >
        #{refId,jdbcType=INTEGER},
      </if>
      <if test="linkType != null" >
        #{linkType,jdbcType=CHAR},
      </if>
      <if test="sortNumber != null" >
        #{sortNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.sinyoo.cooperation.service.domain.HomeLinkDo" >
    update home_link
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        link_url = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="refId != null" >
        ref_id = #{refId,jdbcType=INTEGER},
      </if>
      <if test="linkType != null" >
        link_type = #{linkType,jdbcType=CHAR},
      </if>
      <if test="sortNumber != null" >
        sort_number = #{sortNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where link_id = #{linkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.sinyoo.cooperation.service.domain.HomeLinkDo" >
    update home_link
    set title = #{title,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      ref_id = #{refId,jdbcType=INTEGER},
      link_type = #{linkType,jdbcType=CHAR},
      sort_number = #{sortNumber,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where link_id = #{linkId,jdbcType=INTEGER}
  </update>

  <select id="getHomeLinks" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from home_link
    <where>
      link_type = #{linkType}
      <if test="searchKey != null">
        and ( UPPER(title) like UPPER(CONCAT('%',#{searchKey},'%' )) )
      </if>
    </where>
    order by sort_number asc limit #{offSet},#{rows}
  </select>

</mapper>