<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.sinyoo.cooperation.service.mapper.UserInfoDrugCompanyMapper" >
  <resultMap id="BaseResultMap" type="net.sinyoo.cooperation.service.domain.UserInfoDrugCompanyDo" >
    <id column="drug_company_id" property="drugCompanyId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="office_telephone" property="officeTelephone" jdbcType="VARCHAR" />
    <result column="company_url" property="companyUrl" jdbcType="VARCHAR" />
    <result column="company_details" property="companyDetails" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    drug_company_id, user_id, company, address, office_telephone, company_url, company_details
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_info_drug_company
    where drug_company_id = #{drugCompanyId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user_info_drug_company
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_info_drug_company
    where drug_company_id = #{drugCompanyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.sinyoo.cooperation.service.domain.UserInfoDrugCompanyDo" >
    insert into user_info_drug_company (drug_company_id, user_id, company, 
      address, office_telephone, company_url,
      company_details)
    values (#{drugCompanyId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{company,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{officeTelephone,jdbcType=VARCHAR}, #{companyUrl,jdbcType=VARCHAR},
      #{companyDetails,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.sinyoo.cooperation.service.domain.UserInfoDrugCompanyDo" >
    insert into user_info_drug_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="drugCompanyId != null" >
        drug_company_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="officeTelephone != null" >
        office_telephone,
      </if>
      <if test="companyUrl != null" >
        company_url,
      </if>
      <if test="companyDetails != null" >
        company_details,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="drugCompanyId != null" >
        #{drugCompanyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="officeTelephone != null" >
        #{officeTelephone,jdbcType=VARCHAR},
      </if>
      <if test="companyUrl != null" >
        #{companyUrl,jdbcType=VARCHAR},
      </if>
      <if test="companyDetails != null" >
        #{companyDetails,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.sinyoo.cooperation.service.domain.UserInfoDrugCompanyDo" >
    update user_info_drug_company
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="officeTelephone != null" >
        office_telephone = #{officeTelephone,jdbcType=VARCHAR},
      </if>
      <if test="companyUrl != null" >
        company_url = #{companyUrl,jdbcType=VARCHAR},
      </if>
      <if test="companyDetails != null" >
        company_details = #{companyDetails,jdbcType=VARCHAR},
      </if>
    </set>
    where drug_company_id = #{drugCompanyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.sinyoo.cooperation.service.domain.UserInfoDrugCompanyDo" >
    update user_info_drug_company
    set user_id = #{userId,jdbcType=INTEGER},
      company = #{company,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      office_telephone = #{officeTelephone,jdbcType=VARCHAR},
      company_url = #{companyUrl,jdbcType=VARCHAR},
      company_details = #{companyDetails,jdbcType=VARCHAR}
    where drug_company_id = #{drugCompanyId,jdbcType=INTEGER}
  </update>
</mapper>